.theme-red {
  --colors-primary-50: #fef2f2;
  --colors-primary-100: #fee2e2;
  --colors-primary-200: #fecaca;
  --colors-primary-300: #fca5a5;
  --colors-primary-400: #f87171;
  --colors-primary-500: #ef4444;
  --colors-primary-600: #dc2626;
  --colors-primary-700: #b91c1c;
  --colors-primary-800: #991b1b;
  --colors-primary-900: #7f1d1d;
  --colors-primary-950: #450a0a;
  --colors-primary-50-rgb: 254,242,242;
  --colors-primary-100-rgb: 254,226,226;
  --colors-primary-200-rgb: 254,202,202;
  --colors-primary-300-rgb: 252,165,165;
  --colors-primary-400-rgb: 248,113,113;
  --colors-primary-500-rgb: 239,68,68;
  --colors-primary-600-rgb: 220,38,38;
  --colors-primary-700-rgb: 185,28,28;
  --colors-primary-800-rgb: 153,27,27;
  --colors-primary-900-rgb: 127,29,29;
  --colors-primary-950-rgb: 69,10,10;
}
.theme-lime {
  --colors-primary-50: #f7fee7;
  --colors-primary-100: #ecfccb;
  --colors-primary-200: #d9f99d;
  --colors-primary-300: #bef264;
  --colors-primary-400: #a3e635;
  --colors-primary-500: #84cc16;
  --colors-primary-600: #65a30d;
  --colors-primary-700: #4d7c0f;
  --colors-primary-800: #3f6212;
  --colors-primary-900: #365314;
  --colors-primary-950: #1a2e05;
  --colors-primary-50-rgb: 247,254,231;
  --colors-primary-100-rgb: 236,252,203;
  --colors-primary-200-rgb: 217,249,157;
  --colors-primary-300-rgb: 190,242,100;
  --colors-primary-400-rgb: 163,230,53;
  --colors-primary-500-rgb: 132,204,22;
  --colors-primary-600-rgb: 101,163,13;
  --colors-primary-700-rgb: 77,124,15;
  --colors-primary-800-rgb: 63,98,18;
  --colors-primary-900-rgb: 54,83,20;
  --colors-primary-950-rgb: 26,46,5;
}
.theme-yellow {
  --colors-primary-50: #fefce8;
  --colors-primary-100: #fef9c3;
  --colors-primary-200: #fef08a;
  --colors-primary-300: #fde047;
  --colors-primary-400: #facc15;
  --colors-primary-500: #eab308;
  --colors-primary-600: #ca8a04;
  --colors-primary-700: #a16207;
  --colors-primary-800: #854d0e;
  --colors-primary-900: #713f12;
  --colors-primary-950: #422006;
  --colors-primary-50-rgb: 254,252,232;
  --colors-primary-100-rgb: 254,249,195;
  --colors-primary-200-rgb: 254,240,138;
  --colors-primary-300-rgb: 253,224,71;
  --colors-primary-400-rgb: 250,204,21;
  --colors-primary-500-rgb: 234,179,8;
  --colors-primary-600-rgb: 202,138,4;
  --colors-primary-700-rgb: 161,98,7;
  --colors-primary-800-rgb: 133,77,14;
  --colors-primary-900-rgb: 113,63,18;
  --colors-primary-950-rgb: 66,32,6;
}
.theme-green {
  --colors-primary-50: #f0fdf4;
  --colors-primary-100: #dcfce7;
  --colors-primary-200: #bbf7d0;
  --colors-primary-300: #86efac;
  --colors-primary-400: #4ade80;
  --colors-primary-500: #22c55e;
  --colors-primary-600: #16a34a;
  --colors-primary-700: #15803d;
  --colors-primary-800: #166534;
  --colors-primary-900: #14532d;
  --colors-primary-950: #052e16;
  --colors-primary-50-rgb: 240,253,244;
  --colors-primary-100-rgb: 220,252,231;
  --colors-primary-200-rgb: 187,247,208;
  --colors-primary-300-rgb: 134,239,172;
  --colors-primary-400-rgb: 74,222,128;
  --colors-primary-500-rgb: 34,197,94;
  --colors-primary-600-rgb: 22,163,74;
  --colors-primary-700-rgb: 21,128,61;
  --colors-primary-800-rgb: 22,101,52;
  --colors-primary-900-rgb: 20,83,45;
  --colors-primary-950-rgb: 5,46,22;
}
.theme-sky {
  --colors-primary-50: #f0f9ff;
  --colors-primary-100: #e0f2fe;
  --colors-primary-200: #bae6fd;
  --colors-primary-300: #7dd3fc;
  --colors-primary-400: #38bdf8;
  --colors-primary-500: #0ea5e9;
  --colors-primary-600: #0284c7;
  --colors-primary-700: #0369a1;
  --colors-primary-800: #075985;
  --colors-primary-900: #0c4a6e;
  --colors-primary-950: #082f49;
  --colors-primary-50-rgb: 240,249,255;
  --colors-primary-100-rgb: 224,242,254;
  --colors-primary-200-rgb: 186,230,253;
  --colors-primary-300-rgb: 125,211,252;
  --colors-primary-400-rgb: 56,189,248;
  --colors-primary-500-rgb: 14,165,233;
  --colors-primary-600-rgb: 2,132,199;
  --colors-primary-700-rgb: 3,105,161;
  --colors-primary-800-rgb: 7,89,133;
  --colors-primary-900-rgb: 12,74,110;
  --colors-primary-950-rgb: 8,47,73;
}
.theme-blue {
  --colors-primary-50: #eff6ff;
  --colors-primary-100: #dbeafe;
  --colors-primary-200: #bfdbfe;
  --colors-primary-300: #93c5fd;
  --colors-primary-400: #60a5fa;
  --colors-primary-500: #3b82f6;
  --colors-primary-600: #2563eb;
  --colors-primary-700: #1d4ed8;
  --colors-primary-800: #1e40af;
  --colors-primary-900: #1e3a8a;
  --colors-primary-950: #172554;
  --colors-primary-50-rgb: 239,246,255;
  --colors-primary-100-rgb: 219,234,254;
  --colors-primary-200-rgb: 191,219,254;
  --colors-primary-300-rgb: 147,197,253;
  --colors-primary-400-rgb: 96,165,250;
  --colors-primary-500-rgb: 59,130,246;
  --colors-primary-600-rgb: 37,99,235;
  --colors-primary-700-rgb: 29,78,216;
  --colors-primary-800-rgb: 30,64,175;
  --colors-primary-900-rgb: 30,58,138;
  --colors-primary-950-rgb: 23,37,84;
}
.theme-indigo {
  --colors-primary-50: #eef2ff;
  --colors-primary-100: #e0e7ff;
  --colors-primary-200: #c7d2fe;
  --colors-primary-300: #a5b4fc;
  --colors-primary-400: #818cf8;
  --colors-primary-500: #6366f1;
  --colors-primary-600: #4f46e5;
  --colors-primary-700: #4338ca;
  --colors-primary-800: #3730a3;
  --colors-primary-900: #312e81;
  --colors-primary-950: #1e1b4b;
  --colors-primary-50-rgb: 238,242,255;
  --colors-primary-100-rgb: 224,231,255;
  --colors-primary-200-rgb: 199,210,254;
  --colors-primary-300-rgb: 165,180,252;
  --colors-primary-400-rgb: 129,140,248;
  --colors-primary-500-rgb: 99,102,241;
  --colors-primary-600-rgb: 79,70,229;
  --colors-primary-700-rgb: 67,56,202;
  --colors-primary-800-rgb: 55,48,163;
  --colors-primary-900-rgb: 49,46,129;
  --colors-primary-950-rgb: 30,27,75;
}
.theme-purple {
  --colors-primary-50: #faf5ff;
  --colors-primary-100: #f3e8ff;
  --colors-primary-200: #e9d5ff;
  --colors-primary-300: #d8b4fe;
  --colors-primary-400: #c084fc;
  --colors-primary-500: #a855f7;
  --colors-primary-600: #9333ea;
  --colors-primary-700: #7e22ce;
  --colors-primary-800: #6b21a8;
  --colors-primary-900: #581c87;
  --colors-primary-950: #3b0764;
  --colors-primary-50-rgb: 250,245,255;
  --colors-primary-100-rgb: 243,232,255;
  --colors-primary-200-rgb: 233,213,255;
  --colors-primary-300-rgb: 216,180,254;
  --colors-primary-400-rgb: 192,132,252;
  --colors-primary-500-rgb: 168,85,247;
  --colors-primary-600-rgb: 147,51,234;
  --colors-primary-700-rgb: 126,34,206;
  --colors-primary-800-rgb: 107,33,168;
  --colors-primary-900-rgb: 88,28,135;
  --colors-primary-950-rgb: 59,7,100;
}
.theme-pink {
  --colors-primary-50: #fdf2f8;
  --colors-primary-100: #fce7f3;
  --colors-primary-200: #fbcfe8;
  --colors-primary-300: #f9a8d4;
  --colors-primary-400: #f472b6;
  --colors-primary-500: #ec4899;
  --colors-primary-600: #db2777;
  --colors-primary-700: #be185d;
  --colors-primary-800: #9d174d;
  --colors-primary-900: #831843;
  --colors-primary-950: #500724;
  --colors-primary-50-rgb: 253,242,248;
  --colors-primary-100-rgb: 252,231,243;
  --colors-primary-200-rgb: 251,207,232;
  --colors-primary-300-rgb: 249,168,212;
  --colors-primary-400-rgb: 244,114,182;
  --colors-primary-500-rgb: 236,72,153;
  --colors-primary-600-rgb: 219,39,119;
  --colors-primary-700-rgb: 190,24,93;
  --colors-primary-800-rgb: 157,23,77;
  --colors-primary-900-rgb: 131,24,67;
  --colors-primary-950-rgb: 80,7,36;
}